In [1]:
#Importing PySpark
from pyspark.sql import SparkSession

In [2]:
#Sating Apache Session
spark = (
    SparkSession.builder.appName('Curso de Pyspark ')
    .config('spark.sql.repl.eagerEval.enabled',True)
    .getOrCreate()
)

In [3]:
df = spark.read.csv('databases\LOGINS.csv', sep = ';', header=True)

In [4]:
df.show()

+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+
|           cpf|               email|     senha|data_de_nascimento|estado|data_cadastro|           ipv4|cor_favorita|           profissao|           telefone|
+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+
|981.507.362-12|pedro-lucas53@gma...|+7^7E%xFBc|        2006-12-18|    RR|   2023-02-26| 99.107.250.210|        Roxo|    Jogador De Golfe|       31 7785-4046|
|493.705.168-75|rezendeisaac@hotm...|_O_2GRnGOe|        1992-06-17|    GO|   2023-02-16|  197.11.26.213|       Ciano|Atleta De Arremes...|    (031) 0803-6753|
|398.471.625-73|felipepires@uol.c...|*Aw5EOAvy9|        1921-11-11|    MG|   2023-01-02|   181.90.63.58|        Azul|      Papiloscopista|       11 9674-0553|
|092.618.354-06|stellamoraes@bol....|mw0AWYAs#s|        2021-06-01|    AC|   2023-01-08|  26.121.127.94|      Marrom|            Aeromoça|+55 (071) 3033 9177|
|509.427.136-99| wcarvalho@ig.com.br|pGD%!2Pq5X|        1969-10-28|    AP|   2023-02-14|  76.184.52.163|     Laranja|       Fonoaudiólogo|+55 (071) 6272 2468|
|218.795.460-94|da-conceicaodavi-...|uhBbFxPA&9|        1986-05-19|    MG|   2023-03-07|    192.93.0.24|        Rosa|             Taxista|   +55 84 0652 9691|
|715.836.940-48| efreitas@bol.com.br|s#q9VZt&xl|        2018-04-20|    MG|   2023-01-13| 76.251.188.148|      Branco|Produtor De Audio...|+55 (084) 1363 0052|
|475.698.032-56|   wnunes@bol.com.br|_8az1W%n7g|        1996-05-12|    SE|   2023-02-04|139.196.176.154|        Azul|          Cadeirinha|    (071) 1640-3388|
|217.639.540-99| jribeiro@bol.com.br|MEf1X7fj_0|        2021-10-05|    PA|   2023-03-02|    71.22.224.5|      Marrom|             Geólogo|       21 1432 4092|
|261.938.750-77|  murilo05@gmail.com|Te&gO7GkKs|        1917-01-05|    MT|   2023-02-21| 136.54.123.165|      Marrom|      Técnico De Som|+55 (084) 5878-3346|
|520.831.796-68| joaquim57@ig.com.br|&2E1NY+ARc|        1912-05-25|    BA|   2023-01-25| 78.196.255.126|        Rosa|         Esteticista|       41 7914-3753|
|413.087.526-44|alexiada-rocha@ig...|@f@!Z!2c*2|        1920-05-26|    MS|   2023-02-18|  182.61.65.201|     Laranja|        Microfonista|    (021) 3739-2944|
|509.287.143-14|   pmendes@gmail.com|M+^XDBfe(2|        1938-03-11|    RR|   2023-01-19|  61.234.208.17| Verde Claro|              Fiscal|+55 (084) 5940-1932|
|563.170.492-70|  renan46@bol.com.br|Rp%2pVqfe$|        1922-09-01|    PA|   2023-02-01| 122.203.83.177|Verde Escuro|        Contabilista|   +55 41 6248 5773|
|098.712.346-78|manuelada-rosa@ho...|#hEIEOztQ3|        2013-01-10|    SE|   2023-01-07|  175.18.73.211|     Violeta| Seguidor De Compras|       51 0278 0564|
|345.709.261-34|    usales@ig.com.br|b_8xaY$ozJ|        1992-10-16|    AM|   2023-01-05|    97.93.29.75|        Rosa|           Almirante|    (084) 8993-4521|
|318.254.906-51|pereiranicolas@ho...|YA9I85Wb+2|        1945-11-18|    MA|   2023-01-24| 182.195.33.137|     Amarelo|   Consultor De Moda|    (084) 4591 3795|
|610.287.453-62|cardosolivia@ig.c...|yXkDW7Ebh*|        1915-11-15|    GO|   2023-01-22| 195.194.63.184|     Laranja|            Barbeiro|   +55 61 8967-9563|
|615.790.842-49|  brenda39@ig.com.br|XS$84Hpsnw|        1964-02-01|    RJ|   2023-02-16|  21.252.226.29|      Branco|  Promotor De Vendas|+55 (021) 4751 2004|
|624.095.138-24|luizapeixoto@gmai...|TbKy82Kda$|        1959-02-01|    DF|   2023-02-25|  105.107.23.13|       Ciano|    Implantodontista|       84 1293 1906|
+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+
only showing top 20 rows

In [5]:
#Using Parquet
df2 = spark.read.parquet('databases\LOGINS.parquet')

# Query

In [6]:
#Creating a Query
df2.select('data_de_nascimento','estado')

+------------------+------+
|data_de_nascimento|estado|
+------------------+------+
|        2006-12-18|    RR|
|        1992-06-17|    GO|
|        1921-11-11|    MG|
|        2021-06-01|    AC|
|        1969-10-28|    AP|
|        1986-05-19|    MG|
|        2018-04-20|    MG|
|        1996-05-12|    SE|
|        2021-10-05|    PA|
|        1917-01-05|    MT|
|        1912-05-25|    BA|
|        1920-05-26|    MS|
|        1938-03-11|    RR|
|        1922-09-01|    PA|
|        2013-01-10|    SE|
|        1992-10-16|    AM|
|        1945-11-18|    MA|
|        1915-11-15|    GO|
|        1964-02-01|    RJ|
|        1959-02-01|    DF|
+------------------+------+
only showing top 20 rows

In [7]:
#Second way to create a Query
# (df2
    #  .select(df2.cpf)
    #  )

#Third option to create a Query
    # df2.select(df2['cpf'])

#Forth way to create a selection
    # from pyspark.sql.functions import  col
    # import pyspark.sql.functions as F
    # df2.select(F.col('data_de_nascimento'))

#Select all columns
    #df2.select('*')

#Select all except one
    #df2.drop('cpf')

# Filtering Values

In [8]:
#Filtering values
df2.filter(df2['estado']=='MG')

#Second Option to Filter
    #DF3 = df2[df2['estado']=='MG']
    #DF3.describe
    
#Third option to use Filter
    #df2.where(df2.cor_favorita.isin('Ciano')).filter(df.estado == 'GO')


# Good practicie of multiples filters
    # (df2
    # .where(df2.estado == 'MG')
    # .where(df2.profissao == 'Tenente')
    # )

+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+
|           cpf|               email|     senha|data_de_nascimento|estado|data_cadastro|           ipv4|cor_favorita|           profissao|           telefone|
+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+
|398.471.625-73|felipepires@uol.c...|*Aw5EOAvy9|        1921-11-11|    MG|   2023-01-02|   181.90.63.58|        Azul|      Papiloscopista|       11 9674-0553|
|218.795.460-94|da-conceicaodavi-...|uhBbFxPA&9|        1986-05-19|    MG|   2023-03-07|    192.93.0.24|        Rosa|             Taxista|   +55 84 0652 9691|
|715.836.940-48| efreitas@bol.com.br|s#q9VZt&xl|        2018-04-20|    MG|   2023-01-13| 76.251.188.148|      Branco|Produtor De Audio...|+55 (084) 1363 0052|
|348.215.690-51| omoreira@bol.com.br|!8maDkdVnY|        2008-10-24|    MG|   2023-02-20|  177.2.242.176|Verde Escuro|Adestrador De Ani...|   +55 61 3217-9930|
|137.964.520-43| natalia72@ig.com.br|i71MdCj2*^|        1939-06-26|    MG|   2023-02-03|  141.28.225.40|      Branco|      Espeleologista|    (041) 8471 8007|
|790.482.315-23|noaharagao@hotmai...|#i_LhbOX52|        1922-03-19|    MG|   2023-01-25|170.188.237.119|       Preto|         Empacotador|+55 (031) 9156-3903|
|872.041.936-87| fsilva@yahoo.com.br|B+E9r_CkU^|        1926-05-20|    MG|   2023-01-04|   220.1.100.77|      Marrom|     Mecânico De Vôo|    (031) 9834-4568|
|832.714.650-53|    ijesus@gmail.com|JLr@1Mlr!Z|        1983-05-21|    MG|   2023-01-25|  84.142.120.51|        Roxo|            Ministro|       81 9463-7374|
|529.610.873-68|barbosajuliana@bo...|$!3Td!uO%^|        2016-09-03|    MG|   2023-02-15|   85.36.21.190|     Amarelo|            Lenhador|    (061) 3713 1708|
|198.256.734-19|valentina08@ig.co...|@BJV)ATd!8|        1962-01-11|    MG|   2023-02-23|   4.122.66.211|       Verde|             Atuário|       71 4313-7632|
|568.037.192-86|correiabreno@uol....|+7Msf8JW$)|        1979-04-29|    MG|   2023-01-16|  94.151.189.72|        Roxo|      Guia Turistico|       61 5868-4411|
|915.074.832-79|    jnunes@ig.com.br|$Z1&Su4H+k|        1917-09-13|    MG|   2023-01-28|  68.252.77.213|        Rosa|            Chaveiro|      0800-497-4568|
|512.346.879-09|santosmiguel@bol....|3qYeSpr2$i|        1948-11-14|    MG|   2023-01-02|  23.111.181.66|        Roxo|            Mecânico|    (051) 0292-9648|
|012.469.857-30|diasrebeca@uol.co...|E%0%8VUeID|        1936-03-01|    MG|   2023-02-18|172.155.210.224|       Cinza|Engenheiro De Aqu...|    (041) 9158 0476|
|032.548.967-00|rochaagatha@uol.c...|azXJMV)0*2|        1995-03-04|    MG|   2023-02-09|     2.55.79.36|     Laranja|Odontologista Pre...|       31 5789 4432|
|863.051.924-05|pintoryan@uol.com.br|P5jNqf8U*^|        1932-10-30|    MG|   2023-03-01|    139.5.71.51|      Branco|      Odontopediatra|       31 5503 6600|
|706.135.948-00|ana-vitoriafernan...|ye!oooXy$0|        1935-05-09|    MG|   2023-02-11| 103.28.141.203|     Amarelo|Cientista De Alim...|       71 0827-8838|
|513.780.269-77|kaiqueda-cunha@bo...|gtn&GsT^^5|        1984-01-17|    MG|   2023-03-08|218.106.248.244|Verde Escuro|Taxidermista/Emba...|+55 (021) 9610-2123|
|829.617.354-91|diegojesus@gmail.com|M6yxjF!w^G|        2017-04-10|    MG|   2023-01-09|    6.1.173.123|     Violeta|          Empresário|    (041) 3905-6942|
|068.234.915-15|stephany16@yahoo....|R7GnyM+M(w|        1969-09-13|    MG|   2023-01-09| 139.126.79.210| Azul Escuro|Adestrador De Ani...|       31 3341 1801|
+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+
only showing top 20 rows

# WithColumn

In [9]:
import pyspark.sql.functions as F

# df2_transformed = (df2.withColumn('nome_estados',
#     F.when(col('estado') == 'AC', 'Acre')
#     .when(col('estado') == 'AL', 'Alagoas')
#     .when(col('estado') == 'AP', 'Amapá')
#     .when(col('estado') == 'AM', 'Amazonas')
#     .when(col('estado') == 'BA', 'Bahia')
#     .when(col('estado') == 'CE', 'Ceará')
#     .when(col('estado') == 'DF', 'Distrito Federal')
#     .when(col('estado') == 'ES', 'Espírito Santo')
#     .when(col('estado') == 'GO', 'Goiás')
#     .when(col('estado') == 'MA', 'Maranhão')
#     .when(col('estado') == 'MT', 'Mato Grosso')
#     .when(col('estado') == 'MS', 'Mato Grosso do Sul')
#     .when(col('estado') == 'MG', 'Minas Gerais')
#     .when(col('estado') == 'PA', 'Pará')
#     .when(col('estado') == 'PB', 'Paraíba')
#     .when(col('estado') == 'PR', 'Paraná')
#     .when(col('estado') == 'PE', 'Pernambuco')
#     .when(col('estado') == 'PI', 'Piauí')
#     .when(col('estado') == 'RJ', 'Rio de Janeiro')
#     .when(col('estado') == 'RN', 'Rio Grande do Norte')
#     .when(col('estado') == 'RS', 'Rio Grande do Sul')
#     .when(col('estado') == 'RO', 'Rondônia')
#     .when(col('estado') == 'RR', 'Roraima')
#     .when(col('estado') == 'SC', 'Santa Catarina')
#     .when(col('estado') == 'SP', 'São Paulo')
#     .when(col('estado') == 'SE', 'Sergipe')
#     .when(col('estado') == 'TO', 'Tocantins')
#     .otherwise('Demais')
# )
# .withColumn('flagrosa',F.when(F.col('cor_favorita') == 'Rosa',1).otherwise(0))

# )

# df2_transformed.show()

In [10]:
dfUsers = df2

# String Manipulation

In [11]:
(
    dfUsers
    .withColumn('usuário',F.split('email','@').getItem(0))
    .withColumn('provedor',F.split('email','@').getItem(1))
    .withColumn('nome_provedor',F.split(F.col('provedor'),'\.').getItem(0))
    .select('data_de_nascimento','estado','profissao', 'provedor','nome_provedor' )
    .where(F.col('nome_provedor') == 'uol')
    .show()
    
)

+------------------+------+--------------------+----------+-------------+
|data_de_nascimento|estado|           profissao|  provedor|nome_provedor|
+------------------+------+--------------------+----------+-------------+
|        1921-11-11|    MG|      Papiloscopista|uol.com.br|          uol|
|        2008-11-04|    GO| Promotor De Eventos|uol.com.br|          uol|
|        2016-06-09|    MS|         Diagramador|uol.com.br|          uol|
|        1934-11-26|    AM|           Triatleta|uol.com.br|          uol|
|        1958-04-06|    AC|         Kite-Surfer|uol.com.br|          uol|
|        2018-11-25|    MS|          Revendedor|uol.com.br|          uol|
|        1991-03-05|    PE|         Retificador|uol.com.br|          uol|
|        1982-07-26|    RJ|           Diplomata|uol.com.br|          uol|
|        1910-04-02|    CE|            Sargento|uol.com.br|          uol|
|        1941-08-25|    PI|     Ginasta Rítmica|uol.com.br|          uol|
|        1936-01-31|    RR|  Jogador De Futebol|uol.com.br|          uol|
|        2005-12-03|    PR|Piloto Automobilí...|uol.com.br|          uol|
|        1995-01-19|    TO|      Gestor Público|uol.com.br|          uol|
|        1911-08-03|    ES|        Clarinetista|uol.com.br|          uol|
|        1986-01-28|    RO|          Intérprete|uol.com.br|          uol|
|        1982-11-30|    SE| Engenheiro Acústico|uol.com.br|          uol|
|        1990-03-16|    PE|    Técnico De Gesso|uol.com.br|          uol|
|        1991-11-29|    DF|            Marechal|uol.com.br|          uol|
|        1948-04-15|    RS|           Navegador|uol.com.br|          uol|
|        1964-10-19|    CE|            Dublador|uol.com.br|          uol|
+------------------+------+--------------------+----------+-------------+
only showing top 20 rows

In [12]:

(
df2
.withColumn('concat',F.concat(df2.profissao,df2.cor_favorita))
.withColumn('concat2',F.concat(df2.estado,F.lit(' -Brasil')))
.withColumn('lower',F.lower(df2.profissao))
.withColumn('initcap',F.initcap(df2.profissao))
.withColumn('substring',F.substring(df2.cor_favorita,1,100))
.withColumn('format_string',F.format_string('Olá, sua cor favorita é  %s',df2.cor_favorita)) 
.withColumn('instr',F.instr(df2.email,'@'))
.withColumn('Lenth',F.length(df2.profissao))
.withColumn('repeat',F.repeat(df2.estado,5))
.withColumn('lpad',F.trim(df2.profissao))
# .select('lpad',F.lpad(df2.cor_favorita,10,'>'))
.show(10)
)

+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+--------------------+----------+--------------------+--------------------+---------+--------------------+-----+-----+----------+--------------------+
|           cpf|               email|     senha|data_de_nascimento|estado|data_cadastro|           ipv4|cor_favorita|           profissao|           telefone|              concat|   concat2|               lower|             initcap|substring|       format_string|instr|Lenth|    repeat|                lpad|
+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+--------------------+----------+--------------------+--------------------+---------+--------------------+-----+-----+----------+--------------------+
|981.507.362-12|pedro-lucas53@gma...|+7^7E%xFBc|        2006-12-18|    RR|   2023-02-26| 99.107.250.210|        Roxo|    Jogador De Golfe|       31 7785-4046|Jogador De GolfeRoxo|RR -Brasil|    jogador de golfe|    Jogador De Golfe|     Roxo|Olá, sua cor favo...|   14|   16|RRRRRRRRRR|    Jogador De Golfe|
|493.705.168-75|rezendeisaac@hotm...|_O_2GRnGOe|        1992-06-17|    GO|   2023-02-16|  197.11.26.213|       Ciano|Atleta De Arremes...|    (031) 0803-6753|Atleta De Arremes...|GO -Brasil|atleta de arremes...|Atleta De Arremes...|    Ciano|Olá, sua cor favo...|   13|   27|GOGOGOGOGO|Atleta De Arremes...|
|398.471.625-73|felipepires@uol.c...|*Aw5EOAvy9|        1921-11-11|    MG|   2023-01-02|   181.90.63.58|        Azul|      Papiloscopista|       11 9674-0553|  PapiloscopistaAzul|MG -Brasil|      papiloscopista|      Papiloscopista|     Azul|Olá, sua cor favo...|   12|   14|MGMGMGMGMG|      Papiloscopista|
|092.618.354-06|stellamoraes@bol....|mw0AWYAs#s|        2021-06-01|    AC|   2023-01-08|  26.121.127.94|      Marrom|            Aeromoça|+55 (071) 3033 9177|      AeromoçaMarrom|AC -Brasil|            aeromoça|            Aeromoça|   Marrom|Olá, sua cor favo...|   13|    8|ACACACACAC|            Aeromoça|
|509.427.136-99| wcarvalho@ig.com.br|pGD%!2Pq5X|        1969-10-28|    AP|   2023-02-14|  76.184.52.163|     Laranja|       Fonoaudiólogo|+55 (071) 6272 2468|FonoaudiólogoLaranja|AP -Brasil|       fonoaudiólogo|       Fonoaudiólogo|  Laranja|Olá, sua cor favo...|   10|   13|APAPAPAPAP|       Fonoaudiólogo|
|218.795.460-94|da-conceicaodavi-...|uhBbFxPA&9|        1986-05-19|    MG|   2023-03-07|    192.93.0.24|        Rosa|             Taxista|   +55 84 0652 9691|         TaxistaRosa|MG -Brasil|             taxista|             Taxista|     Rosa|Olá, sua cor favo...|   23|    7|MGMGMGMGMG|             Taxista|
|715.836.940-48| efreitas@bol.com.br|s#q9VZt&xl|        2018-04-20|    MG|   2023-01-13| 76.251.188.148|      Branco|Produtor De Audio...|+55 (084) 1363 0052|Produtor De Audio...|MG -Brasil|produtor de audio...|Produtor De Audio...|   Branco|Olá, sua cor favo...|    9|   24|MGMGMGMGMG|Produtor De Audio...|
|475.698.032-56|   wnunes@bol.com.br|_8az1W%n7g|        1996-05-12|    SE|   2023-02-04|139.196.176.154|        Azul|          Cadeirinha|    (071) 1640-3388|      CadeirinhaAzul|SE -Brasil|          cadeirinha|          Cadeirinha|     Azul|Olá, sua cor favo...|    7|   10|SESESESESE|          Cadeirinha|
|217.639.540-99| jribeiro@bol.com.br|MEf1X7fj_0|        2021-10-05|    PA|   2023-03-02|    71.22.224.5|      Marrom|             Geólogo|       21 1432 4092|       GeólogoMarrom|PA -Brasil|             geólogo|             Geólogo|   Marrom|Olá, sua cor favo...|    9|    7|PAPAPAPAPA|             Geólogo|
|261.938.750-77|  murilo05@gmail.com|Te&gO7GkKs|        1917-01-05|    MT|   2023-02-21| 136.54.123.165|      Marrom|      Técnico De Som|+55 (084) 5878-3346|Técnico De SomMarrom|MT -Brasil|      técnico de som|      Técnico De Som|   Marrom|Olá, sua cor favo...|    9|   14|MTMTMTMTMT|      Técnico De Som|
+--------------+--------------------+----------+------------------+------+-------------+---------------+------------+--------------------+-------------------+--------------------+----------+--------------------+--------------------+---------+--------------------+-----+-----+----------+--------------------+
only showing top 10 rows

# Funções Numéricas

In [13]:
dfIMC = spark.read.parquet('C:\\Users\\User\\Desktop\\BigData\\BigData-1\\ApacheSpark_Course01\\databases\\IMC.parquet')

In [14]:
(

    dfIMC
    .withColumn('round',F.round(dfIMC.peso,1))
    .withColumn('ceil',F.ceil(dfIMC.peso))
    .withColumn('floor',F.floor(dfIMC.peso))
    .withColumn('altura_negativa',-F.col('altura'))
    .withColumn('pow',F.pow(dfIMC.peso,2))
)

+--------------------+------+------+-----+----+-----+---------------+------------------+
|                nome|altura|  peso|round|ceil|floor|altura_negativa|               pow|
+--------------------+------+------+-----+----+-----+---------------+------------------+
|    Pietra Fernandes|   176| 97.88| 97.9|  98|   97|           -176|         9580.4944|
|   Ana Júlia da Rosa|   163| 80.56| 80.6|  81|   80|           -163| 6489.913600000001|
|    Fernando Martins|   150| 85.55| 85.6|  86|   85|           -150|         7318.8025|
|       Isis Silveira|   173|  70.1| 70.1|  71|   70|           -173| 4914.009999999999|
|       Cecília Porto|   190| 93.42| 93.4|  94|   93|           -190| 8727.296400000001|
|  Sra. Bruna Almeida|   198| 73.07| 73.1|  74|   73|           -198| 5339.224899999999|
|   Maria Julia Silva|   170| 71.36| 71.4|  72|   71|           -170|         5092.2496|
|Pedro Henrique da...|   188|105.57|105.6| 106|  105|           -188|11145.024899999999|
|   Davi Lucas Campos|   180| 98.49| 98.5|  99|   98|           -180| 9700.280099999998|
|      Juan Gonçalves|   175| 71.87| 71.9|  72|   71|           -175|         5165.2969|
+--------------------+------+------+-----+----+-----+---------------+------------------+

# Date Operations

In [15]:
dfDate = spark.read.parquet('C:\\Users\\User\\Desktop\\BigData\\BigData-1\\ApacheSpark_Course01\\databases\\LOGINS.parquet')

In [18]:
dfDate = dfDate.select('data_de_nascimento','data_cadastro')
dfDate.show(10)

+------------------+-------------+
|data_de_nascimento|data_cadastro|
+------------------+-------------+
|        2006-12-18|   2023-02-26|
|        1992-06-17|   2023-02-16|
|        1921-11-11|   2023-01-02|
|        2021-06-01|   2023-01-08|
|        1969-10-28|   2023-02-14|
|        1986-05-19|   2023-03-07|
|        2018-04-20|   2023-01-13|
|        1996-05-12|   2023-02-04|
|        2021-10-05|   2023-03-02|
|        1917-01-05|   2023-02-21|
+------------------+-------------+
only showing top 10 rows

In [47]:
(
    dfDate
    .withColumn('add_months', F.add_months(dfDate.data_cadastro,1))
    .withColumn('remove_months', F.add_months(dfDate.data_cadastro,-1))
    .withColumn('Current_date', F.current_date())
    .withColumn('Current_timestamp', F.current_timestamp())
    .withColumn('date_add',F.date_add(dfDate.data_cadastro,10))
    .withColumn('remove_date',F.date_add(dfDate.data_cadastro,-10))
    .withColumn('date_sub',F.date_sub(dfDate.data_cadastro,10))
    .withColumn('date_format',F.date_format(dfDate.data_de_nascimento,'d/M/y'))
    .withColumn('date_diff',F.datediff(F.current_date(),dfDate.data_de_nascimento))
    .withColumn('DayOfMonth',F.dayofmonth(dfDate.data_de_nascimento))
    .withColumn('DayOfWeek',F.dayofweek(dfDate.data_de_nascimento))
    .withColumn('WeekOfYear',F.weekofyear(dfDate.data_de_nascimento))
    .withColumn('year',F.year(dfDate.data_de_nascimento))
    .withColumn('month',F.month(dfDate.data_de_nascimento))
    .withColumn('last_day',F.last_day(dfDate.data_de_nascimento))
    .withColumn('months_between',F.months_between(F.current_date(),dfDate.data_de_nascimento))
    .withColumn('next_day',F.next_day(dfDate.data_cadastro,'Mon'))
    .withColumn('make_date',F.make_date(F.lit(2020),F.lit(4),F.lit(2)))
    .withColumn('to_date',F.to_date(F.lit('2020-09-01')))
    .show(2)
)

+------------------+-------------+----------+-------------+------------+--------------------+----------+-----------+----------+-----------+---------+----------+---------+----------+----+-----+----------+--------------+----------+----------+----------+
|data_de_nascimento|data_cadastro|add_months|remove_months|Current_date|   Current_timestamp|  date_add|remove_date|  date_sub|date_format|date_diff|DayOfMonth|DayOfWeek|WeekOfYear|year|month|  last_day|months_between|  next_day| make_date|   to_date|
+------------------+-------------+----------+-------------+------------+--------------------+----------+-----------+----------+-----------+---------+----------+---------+----------+----+-----+----------+--------------+----------+----------+----------+
|        2006-12-18|   2023-02-26|2023-03-26|   2023-01-26|  2024-01-09|2024-01-09 21:36:...|2023-03-08| 2023-02-16|2023-02-16| 18/12/2006|     6231|        18|        2|        51|2006|   12|2006-12-31|  204.70967742|2023-02-27|2020-04-02|2020-09-01|
|        1992-06-17|   2023-02-16|2023-03-16|   2023-01-16|  2024-01-09|2024-01-09 21:36:...|2023-02-26| 2023-02-06|2023-02-06|  17/6/1992|    11528|        17|        4|        25|1992|    6|1992-06-30|  378.74193548|2023-02-20|2020-04-02|2020-09-01|
+------------------+-------------+----------+-------------+------------+--------------------+----------+-----------+----------+-----------+---------+----------+---------+----------+----+-----+----------+--------------+----------+----------+----------+
only showing top 2 rows

# Data Manipulation

In [48]:
dfDM = spark.read.parquet('C:\\Users\\User\\Desktop\\BigData\\BigData-1\\ApacheSpark_Course01\\databases\\LOGINS.parquet')

## Order By

In [54]:
(

dfDM
.orderBy(F.desc('email'))
#.orderBy('estado','data_cadastro')
.show(3)

)

+--------------+-------------------+----------+------------------+------+-------------+-------------+------------+------------+-------------------+
|           cpf|              email|     senha|data_de_nascimento|estado|data_cadastro|         ipv4|cor_favorita|   profissao|           telefone|
+--------------+-------------------+----------+------------------+------+-------------+-------------+------------+------------+-------------------+
|837.021.546-71|zpinto@yahoo.com.br|(5R*_#XVDl|        1955-06-08|    RR|   2023-02-06|52.26.104.153|        Rosa|Argumentista|    (081) 8099 9690|
|037.862.951-40|   zlopes@gmail.com|_LYcJLlu&8|        1966-10-15|    RR|   2023-03-14| 64.236.21.52|      Branco|     Ourives|   +55 61 4893 1165|
|482.063.597-29|  zgomes@uol.com.br|zIEEb2Oma^|        1990-04-25|    PI|   2023-03-05|152.70.106.84|Verde Escuro|   Baterista|+55 (061) 9491 2341|
+--------------+-------------------+----------+------------------+------+-------------+-------------+------------+------------+-------------------+
only showing top 3 rows

## Group By

In [66]:
(
dfDM
.groupBy('cor_favorita')
.agg(F.count('cor_favorita').alias('Quantidade'))


 )

+------------+----------+
|cor_favorita|Quantidade|
+------------+----------+
|       Preto|        57|
|     Violeta|        47|
|        Rosa|        81|
|      Marrom|        62|
|       Ciano|        59|
|     Laranja|        53|
|        Azul|        76|
| Verde Claro|        66|
|        Roxo|        64|
|      Branco|        66|
|Verde Escuro|        65|
| Azul Escuro|        62|
|       Verde|        53|
|     Magenta|        54|
|       Cinza|        75|
|     Amarelo|        60|
+------------+----------+

## Agregate

In [77]:
dfNum = df.withColumn('num',F.dayofmonth(df.data_de_nascimento))
dfNum.show(2)

+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+---+
|           cpf|               email|     senha|data_de_nascimento|estado|data_cadastro|          ipv4|cor_favorita|           profissao|       telefone|num|
+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+---+
|981.507.362-12|pedro-lucas53@gma...|+7^7E%xFBc|        2006-12-18|    RR|   2023-02-26|99.107.250.210|        Roxo|    Jogador De Golfe|   31 7785-4046| 18|
|493.705.168-75|rezendeisaac@hotm...|_O_2GRnGOe|        1992-06-17|    GO|   2023-02-16| 197.11.26.213|       Ciano|Atleta De Arremes...|(031) 0803-6753| 17|
+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+---+
only showing top 2 rows

In [80]:
(
    dfNum.groupBy('cor_favorita')
    .agg(F.count('*'),F.sum('num'), F.avg('num'))
)

+------------+--------+--------+------------------+
|cor_favorita|count(1)|sum(num)|          avg(num)|
+------------+--------+--------+------------------+
|       Preto|      57|     893|15.666666666666666|
|     Violeta|      47|     773|  16.4468085106383|
|        Rosa|      81|    1146|14.148148148148149|
|      Marrom|      62|     916|14.774193548387096|
|       Ciano|      59|    1085|18.389830508474578|
|     Laranja|      53|     956|18.037735849056602|
|        Azul|      76|    1295|17.039473684210527|
| Verde Claro|      66|    1179|17.863636363636363|
|        Roxo|      64|    1025|         16.015625|
|      Branco|      66|    1085|16.439393939393938|
|Verde Escuro|      65|    1103| 16.96923076923077|
| Azul Escuro|      62|    1042|16.806451612903224|
|       Verde|      53|     858| 16.18867924528302|
|     Magenta|      54|     935|17.314814814814813|
|       Cinza|      75|    1208|16.106666666666666|
|     Amarelo|      60|     828|              13.8|
+------------+--------+--------+------------------+